/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

//.custom-block
//  .custom-block-title
//    font-weight 600
//    margin-bottom -0.4rem
//    display: none;
